
<div class=" d-flex justify-content-between ">
    <div class="col-xl-4 col-lg-4 col-md-4 p-4 text-center bg-light bogocSex" style=" width: 360px;height: 530px; background-image: url('../logo/hoatim2.jpg');">
    <img src="logo/phanloai1.webp" >
        <div>
            <h3>Nước Hoa Nam</h3>
            <p>Mùi hương mạnh mẽ đầy chất nam tính</p>
        </div>
        <div class="p-4">
            <span class="view_more  w-50"> <strong>Xem thêm</strong> </span>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 p-4 text-center bg-light bogocSex" style=" width: 360px;height: 530px; background-image: url('AnhSanPham/spring.jpg');">
        <img src="logo/phanloai2.webp" class="img-fluid" alt="">
        <div>
            <h3>Nước Hoa Nữ</h3>
            <p>Mùi hương ngọt nữ tính quyến rũ nhẹ nhàng</p>
        </div>
        <div class="p-4">
            <span class="view_more w-50"> <strong>Xem thêm</strong> </span>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-4 p-4 text-center bg-light bogocSex" style=" width: 360px;height: 530px; background-image: url('AnhSanPham/hoavang.jpg');">
        <img src="logo/phanloai3.webp" class="img-fluid" alt="">
        <div>
            <h3>Nước Hoa Unisex</h3>
            <p>Mùi hương đặc trưng dùng cho cả nam cả nữ</p>
        </div>
        <div class="p-4">
            <span class="view_more  w-50"><strong>Xem thêm</strong> </span>
        </div>
    </div>
</div>
