<div class=" text-center ">
    <div class="">
        <h2 class="textcolor">Giới thiệu</h2>
    </div>
    <div>
        <h5 class="text-dark">Chào mừng đến với cửa hàng Bean Perfume</h5>
    </div>
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="">
                <img src="../logo/banner_about_1.webp" class="img-fluid" style="border-radius: 40px 0px 0px 0px;" alt="">
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 ">
            <div class="text-dark  pt-5">
                <h4>Về chúng tôi</h4>
                <br>
                <p>
                    Bean Perfume ra đời năm 2019, xuất phát từ sự đam mê vô tận với nước hoa.
                    Chúng tôi mong muốn mang đến cho những người yêu nước hoa sản phẩm chính hãng từ Pháp với mức giá tốt nhất
                </p>
                <br>
                <a href="" class="view_more text-info">Xem thêm</a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
            <div class="image-container overflow-hidden">
                <img src="..//logo/banner_about_2.webp" style="border-bottom-right-radius: 40px;" width="410px" height="500px" alt="">
                <div class="overlay "></div>
                <div class="image-text">
                    <h4>Kiến tạo kiến xúc</h4>
                    <p>
                        Hương thơm lâu dài, đa dạng
                        Bậc thầy hương thơm trị liệu cảm xúc.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
