
<h2 class="d-flex justify-content-center">Welcome @ViewBag.Message2</h2>
<div class=" d-flex justify-content-center">
    <div id="carouselExampleFade" class="carousel slide " data-bs-ride="carousel">
        <div class="carousel-inner radio ">
            <div class="carousel-item active">
                <img src="~/AnhSanPham/bg_1.jpg" class="" alt="...">
            </div>
            <div class="carousel-item">
                <img src="~/AnhSanPham/bg_10.jpg"  alt="...">
            </div>
        </div>
    </div>
</div>
<section class="mt-5">
<div class=" row p-4">
<div class="col ">
    <h3 class="textcolor"><strong> Sản phảm mới </strong></h3>
    <p class="text-light">Đừng bỏ lỡ cơ hội giảm giá đặc biệt!!!</p>
</div>
<div class="col"></div>
<div class="col text-center">
    <div class="p-3">
        <h4 class="view_more">Săn ngay</h4>
    </div>
</div>
</div>
<div class="row">
<div class="col-3">
    <div class=" bg-white rounded-2">
        <div class="position-relative">
            <img src="../logo/tommy-hilfiger-tommy-girl-786135-removebg-preview.webp" class="img-fluid" alt="">
            <div class="navbar-nav position-absolute top-0 end-0">
                <i class="fa-solid fa-heart text-danger fa-xl pt-4 pe-2"></i>
                <i class="fa-solid fa-cart-shopping text-secondary fa-xl pt-5 pe-2"></i>
            </div>
            <div class="position-absolute rounded-pill top-0 start-0 p-2">
                <div class="w-100 bg-danger text-white bogocgiamgia">-18%</div>
            </div>
        </div>
        <div class="">
            <div><p class="text-center">Tommy Hilfiger Tommy Girl</p></div>
            <div class="d-flex justify-content-center">
                <span><strong class="text-danger px-3">750.000đ</strong></span>
                <span class="text-secondary "><del>830.000đ</del></span></span>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="../logo/icon_fra_2.webp" width="50px" alt="">
                    <span>Hoa đào</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_1.webp" width="50px" alt="">
                    <span>Trái cây</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_3.webp" width="50px" alt="">
                    <span>Xạ hươn</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" bg-white rounded-2">
        <div class="position-relative">
            <img src="../logo/flora-gorgeous-preview.webp" class="img-fluid" alt="">
            <div class="navbar-nav position-absolute top-0 end-0">
                <i class="fa-solid fa-heart text-danger fa-xl pt-4 pe-2"></i>
                <i class="fa-solid fa-cart-shopping text-secondary fa-xl pt-5 pe-2"></i>
            </div>
            <div class="position-absolute rounded-pill top-0 start-0 p-2">
                <div class="w-100 bg-danger text-white bogocgiamgia">-8%</div>
            </div>
        </div>
        <div class="">
            <div><p class="text-center">Gucci Flora Gorgeous Gardenia</p></div>
            <div class="d-flex justify-content-center">
                <span><strong class="text-danger px-3">1.830.000đ</strong></span>
                <span class="text-secondary "><del>2.000.000đ</del></span></span>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="../logo/icon_fra_10.webp" width="50px" alt="">
                    <span>Cam</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_6.webp" width="50px" alt="">
                    <span>Hoa nhài</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_7.webp" width="50px" alt="">
                    <span>Gỗ hươn</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" bg-white rounded-2 ">
        <div class="position-relative">
            <img src="../logo/wisal-dhahab-sprayaa1-min.webp" class="img-fluid" alt="">
            <div class="navbar-nav position-absolute top-0 end-0">
                <i class="fa-solid fa-heart text-danger fa-xl pt-4 pe-2"></i>
                <i class="fa-solid fa-cart-shopping text-secondary fa-xl pt-5 pe-2"></i>
            </div>
            <div class="position-absolute rounded-pill top-0 start-0 p-2">
                <div class="w-100 bg-danger text-white bogocgiamgia">-10%</div>
            </div>
        </div>
        <div class="">
            <div><p class="text-center">Nước hoa Wisal Dhahad Sparay</p></div>
            <div class="d-flex justify-content-center">
                <span><strong class="text-danger px-3">920.000đ</strong></span>
                <span class="text-secondary "><del>1.150.000đ</del></span></span>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="../logo/icon_fra_3.webp" width="50px" alt="">
                    <span>Xạ hươn</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_1.webp" width="50px" alt="">
                    <span>Trái cây</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_2.webp" width="50px" alt="">
                    <span>Hoa Đào</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-3">
    <div class=" bg-white rounded-2 ">
        <div class="position-relative">
            <img src="../logo/mancera-cedrat-boise-6698ab0d070-min-removebg-preview.webp" class="img-fluid" alt="">
            <div class="navbar-nav position-absolute top-0 end-0">
                <i class="fa-solid fa-heart text-danger fa-xl pt-4 pe-2"></i>
                <i class="fa-solid fa-cart-shopping text-secondary fa-xl pt-5 pe-2"></i>
            </div>
            <div class="position-absolute rounded-pill top-0 start-0 p-2">
                <div class="w-100 bg-danger text-white bogocgiamgia">-15%</div>
            </div>
        </div>
        <div class="">
            <div><p class="text-center">Nước hoa Mancera Cedrat</p></div>
            <div class="d-flex justify-content-center">
                <span><strong class="text-danger px-3">1.800.000đ</strong></span>
                <span class="text-secondary "><del>1.950.000đ</del></span></span>
            </div>
            <div class="row">
                <div class="col text-center">
                    <img class="img-fluid" src="../logo/icon_fra_6.webp" width="50px" alt="">
                    <span>Hoa nhài</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_1.webp" width="50px" alt="">
                    <span>Trái cây</span>
                </div> |
                <div class="col">
                    <img class="img-fluid" src="../logo/icon_fra_10.webp" width="50px" alt="">
                    <span>Cam</span>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="d-flex justify-content-center mt-5">
        <span class="">Xem tất cả</span>
    </div>
</section>
<section class="mt-5">
    <div class=" d-flex justify-content-between ">
        <div class="col-lg-4 col-md-4 p-4 text-center bg-light bogocSex" style=" width: 360px;height: 530px; background-image: url('../logo/hoatim2.jpg');">
            <img src="logo/phanloai1.webp">
            <div>
                <h3>Nước Hoa Nam</h3>
                <p>Mùi hương mạnh mẽ đầy chất nam tính</p>
            </div>
            <div class="p-4">
                <span class="view_more  w-50"> <strong>Xem thêm</strong> </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 p-4 text-center bg-light bogocSex" style=" width: 360px;height: 530px; background-image: url('AnhSanPham/spring.jpg');">
            <img src="logo/phanloai2.webp" class="img-fluid" alt="">
            <div>
                <h3>Nước Hoa Nữ</h3>
                <p>Mùi hương ngọt nữ tính quyến rũ nhẹ nhàng</p>
            </div>
            <div class="p-4">
                <span class="view_more w-50"> <strong>Xem thêm</strong> </span>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 p-4 text-center bg-light bogocSex" style=" width: 360px;height: 530px; background-image: url('AnhSanPham/hoavang.jpg');">
            <img src="logo/phanloai3.webp" class="img-fluid" alt="">
            <div>
                <h3>Nước Hoa Unisex</h3>
                <p>Mùi hương đặc trưng dùng cho cả nam cả nữ</p>
            </div>
            <div class="p-4">
                <span class="view_more w-50"> <strong>Xem thêm</strong> </span>
            </div>
        </div>
    </div>

</section>
