@model AspDotNet_MVC.Models.Entitis.SanPham
@inject AspDotNet_MVC.IRepositorys.IDanhMucSPRepo _repo;
@{
    ViewData["Title"] = "Create";
}

<h3>Tạo mới sản phẩm</h3>

<hr />
<div class="row d-flex justify-content-sm-center">
    <div class="col-md-4">
        <form asp-action="CreateSP" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @*  <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Ten" class="control-label"></label>
                <input asp-for="Ten" class="form-control" />
                <span asp-validation-for="Ten" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImgFile" class="control-label"></label>
                <input  type="file" name="imgFile" class="form-control"/>
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gia" class="control-label"></label>
                <input asp-for="Gia" class="form-control" />
                <span asp-validation-for="Gia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"></label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdDMSP" class="control-label">Tên danh mục</label>
                <select asp-for="IdDMSP" class="form-control" >
                    @foreach (var item in await _repo.GetAll())
                    {
                        <option value="@item.Id">@item.TenDM</option>
                    }
                </select>
                <span asp-validation-for="IdDMSP" class="text-danger"></span>
            </div>
            <div class="form-group p-3">
                <input type="submit" value="Create" class="btn btn-outline-primary" />
                <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>

            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
